* {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex !important;
    flex-direction: row !important;;
}

.column {
    display: flex !important;;
    flex-direction: column !important;;
}

.middle {
    justify-content: center !important;;
}

.center {
    align-items: center !important;
}

.end {
    align-items: flex-end !important;;
}


.full-width {
    width: 100%
}


.MuiFormControlLabel-root {
    margin-left: 0px !important;
    margin-right: 0px !important;
}



.filepond--credits {
    display: none !important;
}
