.title {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0121em;
  text-align: center;

}

img {
  width: 100%;
}

.signArea {
  border: 2px dashed black;
  margin-bottom: 16px;
}
